@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
* {    
    font-size: 16px;
    box-sizing: border-box;
    transform: all 0.2s ease;
}

/* 
The hompage container
 */
.home{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    /* border: solid rgb(255, 17, 0) 5px; */
    /* background: rgba(102, 102, 102, 0.466); */
}
.intro, .browse, .featuredlstings, .about, .tstmony, .stats, .creators{
    width: 100%;
    height: auto;
    height: 50vh;
    border: solid black 3px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.intro{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.browse, .featuredlstings{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.about{
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.about div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    border: solid black 1px;
    background: blue;
}
.creators{
    height: auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tstmony{
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}