.searchbar{
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid black 2px; */
    border-radius: 90px;
    background: rgb(248, 247, 242);
}
.searchbox, .ctgry, .lctn{
    height: 100px;
    border: solid black 2px;
}
.searchbox{
    width: 65%;
}
.ctgry, .lctn{
    width: 15%;
}
